@model InteracoesMedicamentosas.Models.Reacao

@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Delete</title>
</head>
<body>
    <h3>Are you sure you want to delete this?</h3>
    <div>
        <h4>Reacao</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.Nome)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Nome)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Descricao)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Descricao)
            </dd>
    
        </dl>
    
        @using (Html.BeginForm()) {
            @Html.AntiForgeryToken()
    
            <div class="form-actions no-color" align ="center">
                <input type="submit" value="Excluir" class="waves-effect waves-light btn #1565c0 blue darken-3" />
                <input type="button" value="Voltar" onclick="history.go(-1)" class="waves-effect waves-light btn #1565c0 blue darken-3" />
               @*@Html.ActionLink("Back to List", "Index")*@ 
            </div>
        }
    </div>
</body>
</html>
