@model IEnumerable<InteracoesMedicamentosas.Models.Reacao>

@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}


@*<p>                    texto       view
        @Html.ActionLink("Create New", "Create")
        @Html.ActionLink("Consultar","Consulta")

    </p>*@

<div class="row  grey">
    <div class="col s1"></div>
    <div class="col s10 ">
        <p align="center" class="flow-text white-text">Lista de Reações</p>

    </div>
    <div class="col s1 " align="right">
        <p></p>
        <a href="@Url.Action("Create", "Reacao")" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
        <p></p>
    </div>
  
    @*<div class="col 1" align="right">
        <a href="@Url.Action("Create", "Reacao")" align="left" class="waves-effect waves-light btn #1565c0 blue darken-3">Criar</a>
        <a href="@Url.Action("Index", "ConsultaReacao")" align="right" class="waves-effect waves-light btn #1565c0 blue darken-3">Consultar</a>

        @*<p>
                  <a href="@Url.Action("Create", "Reacao")" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
                  <a href="@Url.Action("ConsultaReacao", "Reacao")" class="btn-floating btn-large waves-effect waves-light blue">Consultar</a>
            </p>*@
    @*</div>*@

</div>
<div class="container-flux">
    <div class="row">
        <div class="col s10 offset-s1 grey lighten-2" style="padding-top: 15px;">
            <table class="table">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Nome)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Descricao)
                    </th>
                    <th></th>
                </tr>

                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Nome)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @*@Html.ActionLink("Edit", "Edit", new { id=item.ReacaoId }) |
                                @Html.ActionLink("Details", "Details", new { id=item.ReacaoId }) |
                                @Html.ActionLink("Delete", "Delete", new { id=item.ReacaoId })*@

                            <a href="@Url.Action("Edit", "Reacao", new { id = item.ReacaoId })" class="waves-effect waves-light btn #388e3c green darken-2"><i class="material-icons">edit</i></a>
                            <a href="@Url.Action("Details", "Reacao", new { id = item.ReacaoId })" class="waves-effect waves-light btn #1565c0 blue darken-3"><i class="material-icons">event_note</i></a>
                            <a href="@Url.Action("Delete", "Reacao", new { id = item.ReacaoId })" class="waves-effect waves-light btn #f44336 red"><i class="material-icons">close</i></a>
                        </td>
                    </tr>
                }

            </table>
        </div>
    </div>
</div>
