@model IEnumerable<InteracoesMedicamentosas.Models.Reacao>

@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}


    @*<p>                    texto       view
        @Html.ActionLink("Create New", "Create")
        @Html.ActionLink("Consultar","Consulta")

    </p>*@

<div class="row  grey">
<div class="col s1"></div>
<div class="col s10 " align="center">
    <p></p>
    <p class="flow-text white-text">Lista de Reacoes</p>
    <p></p>
</div>
<div class="col s1 " align="right">
    <p></p>
    <a href="@Url.Action("Create", "Reacao")" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
    <p></p>
</div>
</div>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th></th>
        </tr>
    
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descricao)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.ReacaoId }) |
                @Html.ActionLink("Details", "Details", new { id=item.ReacaoId }) |
                @Html.ActionLink("Delete", "Delete", new { id=item.ReacaoId })
            </td>
        </tr>
    }
    
    </table>

