@model IEnumerable<InteracoesMedicamentosas.Models.Produto>

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @*<title>Home</title>*@

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha256-ZosEbRLbNQzLpnKIkEdrPv7lOy9C27hHQ+Xp8a4MxAQ=" crossorigin="anonymous"></script>

    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>

    <!-- Cabeçalho -->
    @RenderPage("~/Views/Layout/Shared/_cabecalho.cshtml")

    <div class="row  grey">
        <div class="col s12 " align="center">
            <p></p>
            <p class="flow-text white-text">Consultar Interações Medicamentosas Entre Medicamentos</p>
            <p></p>
        </div>
    </div>

    <div class="container-flux">
        <div class="row">
            <div class="col s10 offset-s1 grey lighten-2" style="padding-top: 15px;">
                <div class="row">
                    <div class="col s8">
                        <form class="col s12">
                            <div class="input-field col s12">
                                <select multiple name="CbMedicamento" id="CbMedicamento">
                                    <option value="" disabled selected>Selecione os medicamentos para interação </option>
                                    @foreach (var item in Model)
                                    {
                                        <option value=" @Html.DisplayFor(modelItem => item.ProdutoId) ">@Html.DisplayFor(modelItem => item.Nome)</option>
                                    }
                                </select>

                            </div>
                        </form>

                    </div>

                </div>

                <div class="row">
                    <div class="col offset-s5 2s">
                        <a href="#" class="btn btn-default" onclick="MostraInteracaoProduto();">Procurar Interação</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="container-flux">
        <div class="row">
            <div class="col s10 offset-s1 grey lighten-2" style="padding-top: 15px;">
                <div class="row">
                    <div class="col s8" align="left">
                        <h4>Reação entre os medicamentos</h4>
                    </div>                 
                </div>

                <div class="row">
                    <div class="col s12">
                        <form class="col s12">
                            <div class="row">
                                <div class="input-field col s12">
                                    <input disabled value="" id="label" type="text" class="validate">
                                    <label for="disabled"></label>
                                </div>
                            </div>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
    @*<div class="row  grey">
            <div class="col s12 " align="center">
                <p></p>
                <p class="flow-text white-text">Consultar Interações Medicamentosas Entre Medicamentos</p>
                <p></p>
            </div>
        </div>*@

    @*<form class="row"
            <div class="input-field col s12">
                <select multiple name="CbMedicamento" id="CbMedicamento">
                    <option value="" disabled selected>Choose your option</option>
                @foreach (var item in Model)
                {
                    <option value=" @Html.DisplayFor(modelItem => item.ProdutoId)">@Html.DisplayFor(modelItem => item.Nome)</option>
                }
                </select>
                <label>Materialize Multiple Select</label>
            </div>
        </form>*@

    @*<div class="col 2s">
            <a href="#" class="btn btn-default" onclick="MostraInteracaoProduto();">Procurar Interação</a>
        </div>*@

    @*<div class="col s12">
        <div class="row">
            <h4>Reação</h4>
        </div>
        <div class="row">
            <form class="col s12">
                <div class="row">
                    <div class="input-field col s12">
                        <input disabled value="" id="label" type="text" class="validate">
                        <label for="disabled"></label>
                    </div>
                </div>
            </form>
        </div>
    </div>*@

    <script type="text/javascript">

                            $(document).ready(function () {
                                $('select').formSelect();
                            });

                            $(document).ready(function () {
                                M.updateTextFields();
                            });
    </script>

    <script src="~/scripts/JS/Produto.js"></script>

    <!-- Rodapé -->
    @RenderPage("~/Views/Layout/Shared/_rodape.cshtml")

</body>
</html>