@model IEnumerable<InteracoesMedicamentosas.Models.Produto>

@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}

<div class="row  grey">
    <div class="col s1"></div>
    <div class="col s10 " align="center">
        <p></p>
        <p class="flow-text white-text">Lista de Medicamentos</p>
        <p></p>
    </div>
    <div class="col s1 " align="right">
        <p></p>
        <a href="@Url.Action("Create", "Produto")" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
        <p></p>
    </div>
</div>

<div class="container-flux">
    <div class="row">
        <div class="col s10 offset-s1 grey lighten-2" style="padding-top: 15px;">
            <div class="row">
                <div class="row">
                    <div class="col s3">
                        <b><p>Nome</p></b>
                    </div>
                    <div class="col s3">
                        <b><p>Tipo</p></b>
                    </div>
                    <div class="col s3">
                        <b><p>Descrição</p></b>
                    </div>
                    <p><div class="col s3"></div></p>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col s3">
                        @Html.DisplayFor(modelItem => item.Nome)
                    </div>
                    <div class="col s3">
                        @Html.DisplayFor(modelItem => item.Tipo)
                    </div>
                    <div class="col s3">
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </div>
                    <div class="col s3">
                        <a href="@Url.Action("Edit", "Produto", new { id = item.ProdutoId })" class="waves-effect waves-light btn #388e3c green darken-2"><i class="material-icons">edit</i></a>
                        <a href="@Url.Action("Details", "Produto", new { id = item.ProdutoId })" class="waves-effect waves-light btn #1565c0 blue darken-3"><i class="material-icons">event_note</i></a>
                        <a href="@Url.Action("Delete", "Produto", new { id = item.ProdutoId })" class="waves-effect waves-light btn #f44336 red"><i class="material-icons">close</i></a>
                    </div>
                </div>
            }
        
        </div>
    </div>
</div>

