@using InteracoesMedicamentosas.Models
@model InteracoesMedicamentosas.Models.Interacao

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="../../content/materialize/css/materialize.min.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <div class="input-field col s12">
        <select name="Produto" id="Produto">
            @foreach (var produto in (List<Produto>)ViewBag.Produtos)
            {
                <option value="@produto.ProdutoId">@produto.Nome</option>
            }
        </select>
        <label>Produtos</label>
    </div>


    <div class="input-field col s12">
        <select name="Reacao" id="Reacao">
            @foreach (var reacao in (List<Reacao>) ViewBag.Reacoes)
            {
                <option value="@reacao.ReacaoId">@reacao.Nome</option>
            }
        </select>
        <label>Reações</label>
    </div>

    <a href="#" onclick="SalvarSalvarInteracao();">Salvar Pedido</a>

    <div id="divItens" style="display: none">

    </div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

    

<!-- Jquery-->
<script src="https://code.jquery.com/jquery-3.3.1.min.js"integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="crossorigin="anonymous"></script>
<!-- Materialize JS-->
<script src="../../scripts/materialize/materialize.min.js"></script>

<script type="text/javascript">
    $(document).ready(function() {
        $('select').material_select();
    });
</script>

<script src="~/scripts/JS/Interacao.js"></script>

</body>
</html>
