@model InteracoesMedicamentosas.Models.Interacao

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
    <link rel="stylesheet" href="../../content/materialize/css/materialize.css" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Interacao</h4>
        <hr/>
        @Html.ValidationSummary(true, "", new {@class = "text-danger"})
        <div class="form-group">
            @Html.LabelFor(model => model.ReacaoId, "ReacaoId", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="input-field col s12">
                @Html.DropDownList("ReacaoId", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ReacaoId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ProdutoId, "ProdutoId", htmlAttributes: new {@class = "control-label col-md-2"})
            <div class="col-md-10">
                @Html.DropDownList("ProdutoId", null, htmlAttributes: new {@class = "form-control"})
                @Html.ValidationMessageFor(model => model.ProdutoId, "", new {@class = "text-danger"})
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default"/>
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
    <!-- Jquery-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <!-- Materialize JS-->
    <script src="../../scripts/materialize/materialize.js"></script>

    <script>
        var elem = document.querySelector('select');
        var instance = M.FormSelect.init(elem, options);

        // Or with jQuery

        $(document).ready(function () {
            $('select').formSelect();
        });
    </script>
</body>
</html>
