@using InteracoesMedicamentosas.Models
@model InteracoesMedicamentosas.Models.Interacao

@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}


<div class="row  grey">
    <div class="col s12 " align="center">
        <p></p>
        <p class="flow-text white-text">Deseja realmente deletar esta Interação?</p>
        <p></p>
    </div>
</div>

<div class="container-flux">
    <div class="row">
        <div class="col s10 offset-s1 grey lighten-2" style="padding-top: 15px;">
            <div class="row">
                <div class="col s6">
                    <label>Produto</label>
                    <p>@Html.DisplayFor(model => model.Produto.Nome)</p>
                    <hr/>
                </div>
                <div class="col s6">
                    <label>Reação</label>
                    <p>@Html.DisplayFor(model => model.Reacao.Nome)</p>
                    <hr/>
                </div>
            </div>
            <div class="row">
                <div class="col offset-s5 2s">
                    <a href="@Url.Action("Index", "Interacao")" class="btn btn-default">Voltar</a>
                </div>
                <div class="col 2s">
                    @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()

                            <div class="form-actions no-color">
                                <input type="submit" value="Delete" class="btn btn-default"/>
                            </div>
                        }
                </div>
            </div>
        </div>
    </div>
</div>

@*@using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default"/>
        </div>
    }*@

@*@Html.ActionLink("Voltar", "Index")*@