@model InteracoesMedicamentosas.Models.Interacao

@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}


<div>
    <h4>Interacao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Produto.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Produto.Nome)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Reacao.Nome)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Reacao.Nome)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.InteracaoId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
