@model IEnumerable<InteracoesMedicamentosas.Models.Interacao>

@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}
<div class="row  grey">
    <div class="col s11 " align="center">
        <p></p>
        <p class="flow-text white-text">Lista de Interações Medicamentosas</p>
        <p></p>
    </div>
    <div class="col s1 " align="right">
        <p></p>
        <a href="@Url.Action("Create", "Interacao")" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
        <p></p>
    </div>
</div>
<div class="row">
    <div class="col s1"></div>
    <div class="col s10 grey lighten-2">
        <table class="responsive-table">
            <tr>
                <th>
                    <p>Nome Produtos</p>
                    @*@Html.DisplayNameFor(model => model.Produto.Nome)*@
                </th>
                <th>
                    <p>Nome Reação</p>
                    @*@Html.DisplayNameFor(model => model.Reacao.Nome)*@
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Produto.Nome)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Reacao.Nome)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", new {id = item.InteracaoId}) |
                        @Html.ActionLink("Details", "Details", new {id = item.InteracaoId}) |
                        @Html.ActionLink("Delete", "Delete", new {id = item.InteracaoId})
                    </td>
                </tr>
            }
        </table>
    </div>
    <div class="col s1"></div>
</div>
<div class="row  grey">
    <div class="col s12 " align="center">
        <p></p>
        <p></p>
        <p></p>
    </div>
</div>