@model IEnumerable<InteracoesMedicamentosas.Models.Interacao>

@{
    Layout = "~/Views/Layout/Shared/_layout.cshtml";
}

<div class="row  grey">
    <div class="col s10 offset-s1" align="center">
        <p></p>
        <p class="flow-text white-text">Lista de Interações Medicamentosas</p>
        <p></p>
    </div>
    <div class="col s1 " align="right">
        <p></p>
        <a href="@Url.Action("Create", "Interacao")" class="btn-floating btn-large waves-effect waves-light blue"><i class="material-icons">add</i></a>
        <p></p>
    </div>
</div>

<div class="container-flux">
    <div class="row">
        <div class="col s10 offset-s1 grey lighten-2" style="padding-top: 15px;">
            <div class="row">
                <div class="row">
                    <div class="col s4">
                        <b><p>Nome Produto</p></b>
                    </div>
                    <div class="col s4">
                        <b><p>Nome Reação</p></b>
                    </div>
                    <p><div class="col s4"></div></p>
                </div>
            </div>
            @foreach (var item in Model)
            {
                <div class="row">
                    <div class="col s4">
                        @Html.DisplayFor(modelItem => item.Produto.Nome)
                    </div>
                    <div class="col s4">
                       @Html.DisplayFor(modelItem => item.Reacao.Nome)
                    </div>
                    <div class="col s4">
                        <a href="@Url.Action("Edit", "Interacao", new { id = item.InteracaoId })" class="waves-effect waves-light btn #388e3c green darken-2"><i class="material-icons">edit</i></a>
                        <a href="@Url.Action("Details", "Interacao", new { id = item.InteracaoId })" class="waves-effect waves-light btn #1565c0 blue darken-3"><i class="material-icons">event_note</i></a>
                        <a href="@Url.Action("Delete", "Interacao", new { id = item.InteracaoId })" class="waves-effect waves-light btn #f44336 red"><i class="material-icons">close</i></a>
                    </div>
                </div>
            }
            @*<div class="row">
                <div class="col offset-s11 1s">
                    <a href="#" onclick="SalvarInteracao();">Salvar Pedido</a>
                </div>
            </div>*@
        </div>
    </div>
</div>